<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-0">
        <img class="img-responsive img-rounded" src="img/about.jpeg" alt="">
      </div>
      <div class="col-lg-9 col-lg-offset-0">
        <p>
          수학과외로 비용을 충당하며 점철해온 5번의 수능을 끝내고 저는 인도에 갔습니다. 자신을 돌아보려는 여행속에서 만난 인도는
          저에게 개발자의 꿈을 다시금 확신하게 했습니다. 군대 행정병으로 전공자들 사이에서 배워가며 품었던 개발자의 꿈을 구체화할 수 있었습니다.
          인도에서 만난 Oyo rooms 개발자는 무한한 창조와 이를통한 다수의 혜택에 대해 일깨워줬습니다. 막연히 세상에 도움이 되겠다는
          불투명한 개발자의 꿈을 지닌 저에게 개발을 통한 이익창출과 사회에 환원되는 혜택에 대한 현실적인 조언을 들려주었습니다.
          그러나 그 무엇보다도 구상한 무엇이든 만들어 낼 수 있다는 가능성이 저를 불타오르게 만들었습니다. 이러한 경험을 가지고 귀국 후
          국비지원을 통해 교육을 받았습니다. <br />
          처음에는 쉽지 않았습니다. 전공자들 사이에서 컴퓨터 공학 기초가 없는 제게 하나를 이해하려면 다른 것이 선행되어야 했습니다.
          그러나 수능을 준비했던 자세로 공부를 거듭하여 마지막에 전체 1등으로 수료할 수 있었습니다. 프로젝트를 진행할 때는 원하는 기능을
          구현하기위해 고민하다가 잠들기 전에 아이디어를 떠올려 해결하기도 했습니다. 그리고 이러한 노력이 최종 결과물로
          이어질 때 저는 남모를 희열을 느꼈습니다.<br />
          이력서 표면의 형식을 지금은 다채롭게 채워 넣지 못합니다. 그러나 이러한 부분은 앞으로 계속된 자기발전을 통해 채워나갈 것입니다.
          유지보수처럼, 끊임없이 개선점을 찾아 발전을 이루고 성장하겠습니다.
        </p>
      </div>
    </div>
  </div>
</section>