<!---전원 클릭시 띄우게하는 로직-->
<script>
   const appearence = document.getElementById("appearence");
   let count = 0;
   function check() {
      alert("aa");
      console.log('------------------------------------');
      console.log("아니 제발 좀");
      console.log('------------------------------------');
      if (count == 0) {
         appearence.setAttribute("style", "display:block;")
         count = 1;
      } else {
         appearence.setAttribute("style", "display:none;")
         count = 0;
      }
   }
</script>
<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" }}"></script>
<script src="{{ "/js/classie.js" }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ "/js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ "/js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}