<!---전원 클릭시 띄우게하는 로직-->
<script>
   const appearence = document.getElementById("appearence");
   const myname = document.getElementById("myname");
   const su = document.getElementById("suyeon");
   const tooltip = document.getElementById("tooltip");
   let show = false;
   function check() {
      if (show === false) {
         appearence.setAttribute("style", "display:block;")
         myname.setAttribute("style", "color:white");
         su.setAttribute("style", "background:#0f4c81");
         tooltip.setAttribute("style", "visibility: visible;opacity: 0;-webkit-transform: translate(-50%, -150%);transform: translate(-50%, -150%);");
         show = true;
      } else {
         appearence.setAttribute("style", "display:none;")
         su.setAttribute("style", "background:#232323");
         myname.setAttribute("style", "color:#696969");
         tooltip.innerHTML = "지금까지 정재욱이었습니다.<br>연락을 기다리겠습니다.";
         tooltip.setAttribute("style", "visibility: visible;opacity: 1;-webkit-transform: translate(-50%, -150%);transform: translate(-50%, -150%);");
         show = false;
      }
   }
   function scrollReciver(e) {
      console.log('------------------------------------');
      console.log(window.scrollY);
      console.log('------------------------------------');
      if (window.scrollY > 1) {
         //스크롤 움직일시 전원버튼 관련한 div 띄우기
         tooltip.setAttribute("style", "visibility: visible;opacity: 1;-webkit-transform: translate(-50%, -150%);transform: translate(-50%, -150%);");
         window.removeEventListener("scroll", scrollReciver);
      }
   }
   window.addEventListener("scroll", scrollReciver);
</script>
<!-- jQuery Version 1.11.0 -->
<script src="{{ "/js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" }}"></script>
<script src="{{ "/js/classie.js" }}"></script>
<script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ "/js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ "/js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}