<header class="jaewook" id="suyeon">
    <div class="power-switch">
        <div id="tooltip">개발자 정재욱을 만나실 준비가 되셨습니까?</div>
        <input type="checkbox" onclick="check()" />
        <div class="button">
            <svg class="power-off">
                <use xlink:href="#line" class="line" />
                <use xlink:href="#circle" class="circle" />
            </svg>
            <svg class="power-on">
                <use xlink:href="#line" class="line" />
                <use xlink:href="#circle" class="circle" />
            </svg>
        </div>
    </div>
    <!-- SVG -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
            <line x1="75" y1="34" x2="75" y2="58" />
        </symbol>
        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
            <circle cx="75" cy="80" r="35" />
        </symbol>
    </svg>
    <div class="box">
        <div class="title">
            <span class="block"></span>
            <h1 id="myname">정재욱<span></span></h1>
        </div>
        <div class="role">
            <div class="block"></div>
            <p>Full-stack Developer</p>
        </div>
    </div>
</header>